
<div class="flex flex-col max-w-sm">
    <!-- Image bg-[url('/images/ekaface2.jpg')] -->
    <div class=" rounded-t-box h-72 flex justify-center items-center">
        <img src="/images/male-avatar.png" class="items-center" alt="Dircia"/>
    </div>
    <!-- Status -->
    <div class="flex items-center gap-4 bg-primary text-neutral-content py-4 px-6 font-bold text-lg">
        <i class="fa-solid fa-headphones-simple"></i>
        Sales and Marketing
    </div>

    <!-- Content -->
    <div class="flex flex-col gap-6 bg-base-200 p-6 rounded-b-box">
        <h1 class="font-bold text-xl">
            Dircia Maria Da Costa
        </h1>

        

        <!-- Icons -->
        <div class="flex flex-col gap-2">
            <div class="flex gap-3 items-center text-sm">
                <i class="fa-solid fa-briefcase fa-fw text-accent"></i>
                Website:  <a href="https://verdesmartorganiku.con">www.verdesmartorganiku.con</a>
            </div>

            <div class="flex gap-3 items-center text-sm">
                <i class="fa-solid fa-telephone-dot fa-fw text-accent"></i>
                Tel: <a href="tel:+67078330845">+67 0 78330845 (Timor Leste)</a>
            </div>
            
            <div class="flex gap-3 items-center text-sm">
                <i class="fa-solid fa-envelope fa-fw text-accent"></i>
                Email: <a href="mailto:sales.vsoi.tl@gmail.com">sales.vsoi.tl@gmail.com</a>
            </div>
        </div>
    </div>
</div>