

<!-- Card -->
<div class="flex flex-col max-w-sm">
    <!-- Image -->
    <div class="bg-[url('/backgrounds/forest.jpg')] bg-center rounded-t-box h-72"></div>
    <p>Image here</p>
    <!-- Status -->
    <div class="flex items-center gap-4 bg-neutral text-neutral-content py-4 px-6 font-bold text-lg">
        <i class="fa-solid fa-headphones-simple"></i>
        Business Development  
    </div>

    <!-- Content -->
    <div class="flex flex-col gap-6 bg-base-200 p-6 rounded-b-box">
        <h1 class="font-bold text-xl">
            Eka Mardiarti
        </h1>

        

        <!-- Icons -->
        <div class="flex flex-col gap-2">
            <div class="flex gap-3 items-center text-sm">
                <i class="fa-solid fa-briefcase fa-fw text-accent"></i>
                Website:  <a href="www.verdesmartorganiku.con">www.verdesmartorganiku.con</a>
            </div>

            <div class="flex gap-3 items-center text-sm">
                <i class="fa-solid fa-telephone-dot fa-fw text-accent"></i>
                Tel: <a href="tel:+67078330845"> +67 0 78330845 (Timor Leste)</a>
                Tel: <a href="tel:+6590259575"> +65 90259575 (Singapore)</a>
            </div>
            
            <div class="flex gap-3 items-center text-sm">
                <i class="fa-solid fa-envelope fa-fw text-accent"></i>
                Email: <a href="mailto:sales.vsoi.tl@gmail.com">Msg eka</a>
            </div>
        </div>
    </div>
</div>