
    <header class="bg-green-500 py-4">
        <nav class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white text-2xl font-bold">   
                <div class="flex items-center gap-4">
                    <img src="/images/vsoilogo.jpg" width="40" height="40" />
                 VSOI <small>Verde Smart Organiku International</small></div></a>
            <ul class="flex space-x-4">
                <li><a href="/products" class="text-white hover:text-green-200">Products</a></li>
                <li><a href="/team" class="text-white hover:text-green-200">Team</a></li>
                <li><a href="/vision" class="text-white hover:text-green-200">Vision</a></li>
            </ul>
        </nav>
    </header>

    <main class="container mx-auto py-8">
        <section class="prose">
            <h1 class="text-4xl font-bold mb-4">Welcome to our Organic Food Business</h1>
            <p class="text-lg text-gray-700">Verde Smart Organiku International Lda (VSOI) established on August 2024. VSOI is to respond meaningfully to the concern of limited food source locally produced and increase nutritions to local communities in Timor Leste. VSOI initiates sustainable agriculture business to improve farmers’s life and education through agriculture technologies and introducing new nutritiously food source.</p>
             <br /> <br />
            <p class="text-lg text-gray-700">Timor Leste is rich in land and natural sources. VSOI establishes its first farm in Lospalos, Home district. It has earthy and rich soil to cultivate various flora. </p>

        </section>

        <div class="relative isolate pt-14">
            <div class="absolute inset-x-0 -top-20 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-20" aria-hidden="true">
              <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="py-12 sm:py-12 ">
              <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl text-center">
                  <h1 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-4xl">We are changing food security and supply in Timor Leste</h1>
                  <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">We aim to increase food availablity and quality at affordable prices.  We also educate on new farming techniques and methodologies.</p>
                  <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="/products" class="btn btn-primary">
                      <.icon name="hero-leaf" class="h-5 w-5 mr-2" />
                      Fruits and Vegetables
                    </a>
                    <a href="/vision" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
                  </div>
                </div>
              
              </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
              <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
          </div>
    </main>

   

 