
<h1 class="text-xl">VSOI is your premier supplier of Organic Fruits and Vegetables</h1>
   <div class="grid grid-cols-1  lg:grid-cols-2 gap-4">
        <!-- Product 1 -->
        <div class="flex flex-col max-w-sm">
            <div class="flex flex-col gap-2 p-4 bg-base-200 rounded-t-box">
                <h1 class="font-bold text-xl">Amara F1 Watermelon</h1>
                <span>The fruits are globular with smooth surfaces, black and green. It weighs consistently 6-8kg per fruit. The bark is thin and the flesh is bright red, grainy, juicy and sweet. This is almost a seedless watermelon. The fruits are grown naturally and organically with healthy soil and 12-15 Degrees temperature. The smart technology of irrigation also helps to keep the plant moist.
                </span>
            </div>
            <div class="bg-[url('/images/amaraf1.jpg')] bg-center w-full h-60"></div>
            <div class="flex justify-between bg-neutral text-neutral-content p-4 rounded-b-box">
                <span class="font-bold text-xl">$tbd</span>
                <a class="btn btn-primary btn-sm">Add to cart</a>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="flex flex-col max-w-sm">
            <div class="flex flex-col gap-2 p-4 bg-base-200 rounded-t-box">
                <h1 class="font-bold text-xl">Broccoli Green Sprouting Calabrese</h1>
                <ul><li> No chemical treatment and non -GMO seeds. Freshly and Organic product.</li>
                <li>Add to salads stir fries & cooked dishes</li>
                <li>Health benefit contained of vitamin C, K and A. It also contains several important minerals, including potassium, calcium and iron. These antioxidants help to protect the body from oxidative stress and reduce inflammation
                </li></ul><span></span>
            </div>
            <div class="bg-[url('/images/brocolli.jpg')] bg-center w-full h-60"></div>
            <div class="flex justify-between bg-neutral text-neutral-content p-4 rounded-b-box">
                <span class="font-bold text-xl">$tbd</span>
                <a class="btn btn-primary btn-sm">Add to cart</a>
            </div>
        </div>

        <!-- Product 3 -->
        <div class="flex flex-col max-w-sm">
            <div class="flex flex-col gap-2 p-4 bg-base-200 rounded-t-box">
                <h1 class="font-bold text-xl">Lettuce</h1>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quos quidem sequi illum facere recusandae voluptatibus</span>
            </div>
            <div class="bg-[url('')] bg-center w-full h-60"></div>
            <div class="flex justify-between bg-neutral text-neutral-content p-4 rounded-b-box">
                <span class="font-bold text-xl">$3</span>
                <a class="btn btn-primary btn-sm">Add to cart</a>
            </div>
        </div>

      
    </div>