<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img class="h-48 w-full object-cover md:w-48" src="images/healthy.jpg" alt="Vision and Mission Image">
        </div>
        <div class="p-8 prose">
            <div class="uppercase tracking-wide text-sm text-primary font-semibold">Vision</div>
            <p class="mt-2 ">Our vision is to provide the highest quality organic, fresh, and locally produced food for our customers, while promoting smart sustainable farming practices and supporting local communities.</p>
        </div>
    </div>
</div>

<div class="max-w-md mx-auto mt-4 bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img class="h-48 w-full object-cover md:w-48" src="images/happy-team.jpg" alt="Vision and Mission Image">
        </div>
        <div class="p-8 prose">
            <div class="uppercase tracking-wide text-sm text-primary font-semibold">Mission</div>
            <p class="mt-2 ">Our mission is to create a sustainable food system in Timor Leste and beyond by producing organic farmed products while supporting local farmers with smart farming technology and educating our customers about the benefits of organic food.</p>
        </div>
    </div>
</div>